<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if not is_active %}
        <h1>Welcome, {{ name }}!</h1>
        <p>Age: {{ age }}</p>
        <p>Hobbies:</p>
        <ul>
            {% for hobby in hobbies %}
                <li>{{ hobby }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>User is not active.</h1>
    {% endif %}
    <p>HTML Content: {{ html_content|safe }}</p>
    <p>default autoescape behavior: {{ html_content }}</p>
</body>
</html>